<!DOCTYPE html>
<html>
<head>
	<title>Alexanders Resume | Contact Me</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/contact.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1><a href="/">Alexander Podesta</a></h1>
		<nav>
			<ul>
				<li><a href="/skills">Skills</a></li>
				<li class="active"><a href="/contact">Contact Me</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/about">About Me</a></li>
				<li><a href="/education">Education</a></li>
				<li><a href="/references">References</a></li>
                <li><a href="/chatgpt">ChatGPT</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="contact-info">
			<section class="discord-section">
			  <h2><img src="images/main/logos/companys/discord.png" alt="Discord Icon" class="icon" /> Discord</h2>
			  <p>Discord is something I use a lot for communication. Feel free to add me and message me there. Squishylemon#0512</p>
			</section>
			
			<section class="phone-section">
			  <h2><img src="images/main/logos/companys/phone.png" alt="Phone Icon" class="icon" /> Phone</h2>
			  <p>You can reach me at  <a href="tel:0423-014-282">+61 (0423) 014-282</a></p>
			</section>
			
			<section class="github-section">
			  <h2><img src="images/main/logos/companys/github.png" alt="GitHub Icon" class="icon" /> GitHub</h2>
			  <p>You can find my GitHub profile <a href="https://github.com/SquishyLemon007/">here</a></p>
			</section>
			
			<section class="steam-section">
			  <h2><img src="images/main/logos/companys/steam.png" alt="Steam Icon" class="icon" /> Steam</h2>
			  <p>You can find my Steam profile <a href="https://steamcommunity.com/id/Squishylemon007/">here</a></p>
			</section>
		</section>
		
		<section class="email-section">
			<h2><img src="images/main/logos/companys/mail.png" alt="Email Icon" class="icon" /> Email</h2>
			<form>
			  <label for="name">Name:</label>
			  <input type="text" id="referr" name="referr"><br>
	
			  <label for="email">Email:</label>
			  <input type="email" id="email" name="email"><br>
	
			  <label for="subject">Subject:</label>
			  <input type="text" id="subject" name="subject"><br>
	
			  <label for="message">Message:</label>
			  <textarea id="message" name="message"></textarea><br>
	
			  <input type="submit" value="Send">
			</form>
		  </section>
	</main>
	
	  
	  
	<footer>
		<p>Copyright &copy; 2023</p>
	</footer>
	<script src="/js/email.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
