	<!DOCTYPE html>
	<html>
	<head>
		<title>Alexanders Resume | HomePage</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
	</head>
		<header>
			<h1><a href="/">Alexander Podesta</a></h1>
			<nav>
				<ul>
					<li><a href="/skills">Skills</a></li>
					<li><a href="/contact">Contact Me</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/about">About Me</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/references">References</a></li>
					<li><a href="/chatgpt">ChatGPT</a></li>
				</ul>
			</nav>
		</header>
		
		<main>
			<div class="profile">
				<div class="profile-image">
					<img src="/images/main/extras/face.jpg" alt="Profile picture">
				</div>
				<p class="name">Alexander Podesta</p>
			</div>
			
			
			
			<div class="center-line">
				<div class="text-area">
					<p>Full name : Alexander Damon Podesta</p>
					<p>Contact information : alex@madpuppet.net, 0411734742</p>
					<p>Interests and skills : Aspiring IT enthusiast with a passion for PC building, retro gaming, and programming</p>
					<p>Github profile: <a href="https://github.com/squishylemon?tab=repositories">Link</a></p>
					<p>Education : current high school graduation 2025</p>
					<p>IT-related skills : (basic blender skills, unity, javascript, lua)</p>
					<p>Future goals : </p>
					
					<p>Work with PC building and modding, and gain experience in computer hardware and software technologies.</p>
					<p>Pursue a career in game development, preferably with a AAA games company like Rockstar, and utilize my programming skills to create immersive gaming experiences for players.</p>
					<p>Attend an AWS course that promises high salary potential, and gain expertise in cloud computing and other IT-related skills.</p>
					<p>Start a local PC and console repair company, providing reliable and affordable services to customers in my community.</p>
					<p>Continue to learn and expand my knowledge in the IT field, including emerging technologies like AI and machine learning, and potentially contribute to open-source projects or IT communities.</p>
					
				</div>
			</div>


			
		</main>
		<footer>
			<p>Copyright &copy; 2023</p>
		</footer>
		<script src="/js/main.js"></script>
		
	</body>
	</html>
