<!DOCTYPE html>
<html>
<head>
	<title>Alexanders Resume | Projects</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1><a href="/">Alexander Podesta</a></h1>
		<nav>
			<ul>
				<li><a href="/skills">Skills</a></li>
				<li><a href="/contact">Contact Me</a></li>
				<li class="active"><a href="/projects">Projects</a></li>
				<li><a href="/about">About Me</a></li>
				<li><a href="/education">Education</a></li>
				<li><a href="/references">References</a></li>
                <li><a href="/chatgpt">ChatGPT</a></li>
			</ul>
		</nav>
	</header>
	<main>
		
	</main>
	<footer>
		<p>Copyright &copy; 2023</p>
	</footer>
    <script src="/js/main.js"></script>
</body>
</html>
