/* Hide scrollbar */
body::-webkit-scrollbar {
  
  display: none;
}
main {
height: auto;
}

/* Profile section */
.profile {
  text-align: center;
}

.profile-image {
  display: inline-block;
  margin-top: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 0 0 4px #ccc;
}

.profile-image img {
  display: block;
  width: 150px;
}

.profile .name {
  font-size: 40px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  
}

/* Center line section */
.center-line {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  height: 3px;
  background-color: rgb(44, 44, 44);
  text-align: center;
  z-index: 1;
}

/* Text area section */
.text-area {
  border: 3px solid rgb(43, 43, 43);
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: antiquewhite;
  background-color: rgb(53, 53, 53);
  width: 80%; /* Adjusted for mobile responsiveness */
  max-width: 1500px; /* Set max-width for larger screens */
  max-height: auto;
  overflow-y: auto;
  text-align: center;
  margin: 50px auto 5%; /* Adjusted for mobile responsiveness */
}

.text-area a:hover  {
  background-color: #3e3e3e;
}
