/* Set header styles */
header {
  background-color: #ffc107;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

/* Set button styles */
nav button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  flex: 1;
}

nav button:hover {
  color: #000;
}

/* Set active button style */
nav button.active {
  color: #000;
}

/* Set nav styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 10px 20px;
  }

  nav {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
